<%=form_with model:@admin,url: users_path,local: true do |a|%>
    
    <p>
        <%f.label :company_name%>
        <%f.label :name%>
    </p>

    <p>
        <%f.label :admin_name%>
        <%f.label :name%>
    </p>
<%end%>